<mat-toolbar color="primary">
  <img src="/assets/tentacle-20x20@2x.png" /><span>OctoPrint</span
  ><span class="toolbar-fill"></span>
  <button
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon button with a menu icon">
    <mat-icon>notifications</mat-icon></button
  >|
  <button
    mat-button
    aria-label="Example icon button with a open in new tab icon"
  >
    <mat-icon>person</mat-icon>Trey
  </button>
</mat-toolbar>
